#Login_box{
    text-align: center;
    margin:50px auto;
    height:500px;
    width:350px;
    background-color: #b9def0;
}

#head_img{
    border-radius: 15px;
    height: 80px;width:80px;
    margin:0 auto;
}
.login_line{
    width: 240px;
    height:25px;
    border-radius: 10px;
    outline:none;
}

#p1{
    font-size: 13px;
    text-align:right;
    cursor:help;
}
#p1:hover{color:#F00}

#button1{
    border-radius: 10px;
    height: 25px;
    width: 60px;
    outline:none;
}
#button1:hover{color:#F00}

#view{
    width:30px;
    height:25px;
    position:absolute;
    right:38%;
    padding-top:3px;
    opacity: 0.5;
}