{% extends "blogApp/_base_with_header.html" %}
<!--extends-->

<!--使用到的变量：
rightbar:
    currentUser
    user
    
    tag

    category

    alreadyFollowed
-->

{% block main %}

<link href="/static/css/rightbar.css" rel="stylesheet">
<div style="float:right; width:25%; padding-left:2.5%">
    {% block rightbar %}
    <div class="rightbar rightbar-darker" name="bloger">
        <h4>
            博主
        </h4>
        <div style="text-align:center; padding-bottom: 40px">
            <img src="{{ user.avatar }}" height="100px" width="100px" cclass="img-thumbnail">
            <br>
            <br>
            <h5><a href="/personalIndex/{{user.name}}/">{{user.nickname}}</a></h5>
            <a href="/info/{{user.name}}"> 查看他的详细信息 </a>

            <p>博文数：{{user.blog_set.count}}</p>
            <p>粉丝数：{{follow_num}}</p>

            <form  style="text-align:center" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% if  alreadyFollowed %}
                                <input class ="btn btn-primary"
                                       type="submit"
                                       style="width:80px;float: right;margin-bottom: 10px"
                                       value="取消关注"/>
                            {% endif %}
                            {% if not alreadyFollowed%}
                                <input class ="btn btn-primary"
                                       type="submit" style="width:80px;float: right;margin-bottom: 10px"
                                       value="关注"/>
                            {% endif %}
                </form>

        </div>

    </div>
    <div class="rightbar rightbar-darker" name="category">
        <h4>
            分类
        </h4>

        <ol class="cateogryList">

            <!--category-->
            {% for category in categoryList %}
            <li>
                <a href="/search?userid={{user.userid}}&category={{category.cate_id}}"> {{category.cate_name}} </a>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="rightbar" name="tag">
        <h4>
            标签
        </h4>
        <h4>
            <!--tag-->
            {% for tag in tagList %}
            <span class="label label-info" style="margin:5px">
                <a class="label-link" href="/search?userid={{user.user_id}}&tagid={{tag.tag_id}}">{{tag.tag_name}}</a>
            </span> {% endfor %}

        </h4>
    </div>
    {% endblock %}
</div>
<div style="border-width:10px; border-color:black; float:left; width:75%; padding-right:2.5%">
    {% block article %} {% endblock %}
</div>
{% endblock %}