{% extends "_base_with_rightbar.html" %}

<!--使用到的变量：
rightbar:
    currentUser
    user
    tag
    category
    alreadyFollowed

blogContent:
    blog
-->

<!--title-->
{% block title %} blog-title {% endblock %}

<!--pagetitle-->
{% block pagetitle %} blog-title {% endblock %}

<!--article-->
{% block article %}
<article>
    <div style="text-align:right">
        <p>阅读量：{{blog.view_num}} 评论量：{{blog.comment_set.count}}</p>
        <p>
            <h5>
                <span class="label label-success"><a class="label-link" href="#">标签示例</a></label> {% for tag in blog.tag_set %}
                <span class="label label-success"><a class="label-link" href="/search?userid=user.user_id&tagid=tag.tag_id">{{tag.tag_name}}</a></label> {% endfor %}
            </h5>
        </p>
    </div>
    {{blog.toHTML | safe}}
    <div style="word-break:break-all; padding-bottom:20px;">
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </div>

    <div style="text-align:right">
        <div style="float:left">
        {% ifequal currentUser.user_id 1 %}
        <button type="button" class="btn btn-danger" name="deleteBlog">删除该博客</button>
        {% endifequal %}
        </div>

        收藏数：{{blog.favourite_set.count}}
        <br>
        {% if alreadyFavourite %}
        <button type="button" class="btn btn-danger" name="cancelFavourite">取消收藏</button>
        {% else %}
        <button type="button" class="btn btn-info" name="favourite">收藏</button>
        {% endif %}
    </div>
    
</article>

{% block comment %}

<div style="padding-top:10px; margin-bottom:20px">
    <form method="POST">
        <input type="text" style="width:100%; min-height:100px; padding-bottom: 10px" name = "comment-text">
        <input style="margin-left: 92%; margin-top: 5px;" type="submit" class="btn btn-info" value="评论">
    </form>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#">用户</a> 在 时间
    </div>
    <div class="panel-body">
        评论内容
    </div>
</div>
    
{% for comment in blog.comment_set %}
<div class="panel panel-default" style="margin-top:5px; margin-bottom:5px">
    <div class="panel-heading">
        <a href="/personalIndex/{{comment.user.user_name}}">{{comment.user.user_name}}</a> in {{comment.time}}
    </div>
    <div class="panel-body">
        {{comment.content}}
    </div>
</div>
{% endfor %}

{% endblock %}

{% endblock %}