{% extends "blogApp/_base_with_header.html" %}
<!--extends-->

<!--title-->
{% block title %} 编辑 {% endblock %}

<!--pagetitle-->
{% block pagetitle %} 编辑博客 {% endblock %} {% block main %}

<script src="/static/css/jquery-3.4.1.min.js"></script>
<link href="/static/css/rightbar.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">

<div style="float:left; width:70%; padding-left:10px; margin-bottom:20px">
    <h4>标题：</h4><input type="text" class="form-control" style="width:70%" id="title" value={{ reblog.title }}>
    <br>

    <h4>内容：</h4>
    <textarea class="form-control" style="height:310px; resize:none" id="text">{{ reblog.content }}</textarea>
</div>

<div style="float:right; width:30%; padding-right:10px" class="rightbar rightbar-darker">

    <div style="float:right">
        <a href="/manage/{{currentUser.name}}">返回管理界面</a>
    </div>

    <br>
    <br>
    <br>

    <h4>分类：</h4>
    <div style="margin-left:10px">

        <select id = "class">
                {% for cat in catset %}
                    {% if cat == catename %}
                    <option value="{{ cat}}" selected >{{ cat }}</option>
                    {% endif %}
                    {% if cat != catename %}
                    <option value="{{ cat}}" >{{ cat }}</option>
                    {% endif %}
                {% endfor %}
            </select>
    </div>

    <br>
    <br>
    <br>
    <br>

    <h4>标签：</h4>
    <div>
        <input type="text" value="{{str}}" class="form-control" id="mytags" placeholder="请使用“，”分隔">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center">
        <button class="btn btn-info" onclick="givecontent()">提交</button>
    </div>
</div>

<script>
    function givecontent() {
            var post_data = {
                "title": document.getElementById("title").value,
                "text": document.getElementById("text").value,
                "mytags":document.getElementById("mytags").value,
                "class":document.getElementById("class").value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.ajax({
                url: "/edit/{{ blogid }}/",
                type: "POST",
                data: post_data,
            });
            document.getElementById("title").value = ''
            document.getElementById("text").value = ''
            document.getElementById("mytags").value = ''
            document.getElementById("class").value = ''
            window.alert("发布成功")
        }
</script>


{% endblock %}