{% extends "blogApp/_base.html" %}
<!--extends-->

{% block content %}

<link href="/static/css/login.css" rel="stylesheet">

<div class="container" style="text-align: center">

    <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" class="form-control" placeholder="用户名" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="密码" name="password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin:5px">登录</button>
    </form>

    没有账号？<a href="/regist">注册</a>
    <br>
    <br>
    <a href="/index">返回首页</a>
</div>
<!-- /container -->

{% endblock %}
