{% extends "blogApp/_base_with_header.html" %}
<!--extends-->

<!--title-->
{% block title %} 搜索 {% endblock %}

<!--pagetitle-->
{% block pagetitle %} 文章列表 {% endblock %}

<!--main-->
{% block main %}

<!--user-->
{% if user != None %}
<p>作者：{{user.name}}</p> {% endif %}

<!--category-->
{% if category != None %}
<p>分类：{{category.cate_name}}</p> {% endif %}

<!--tag-->
{% if tag != None %}
<p>标签：{{tag.tag_name}}</p> {% endif %}

<!--keywords-->

{% if keywords != None %} 关键字：{{keywords}} {% endif %}

<!--blogList-->
{% if blogList == None %} 无匹配结果 {% else %} {% for blog in blogList %}

<div class="card">
    <div class="card-header">
        <h3>
            <a href="/blogcontent/{{blog.blog_id}}">{{blog.title}}</a>
        </h3>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            {{ blog.preview | safe}}
        </blockquote>
    </div>
</div>
{% endfor %} {% endif %} {% endblock %}